.logo_place_header {
  background-image: url(../../../images/logo_place_header.svg);
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 10;
  transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

.logo_place_header:hover {
  opacity: .5;
}
