.header__subtitle {
  margin: 0; /* обнуление margin, унаследованного от normalize.css */
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 10;
}
