.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

.header__link:hover {
  text-decoration: underline;
  opacity: .5;
}
