.footer {
  min-height: 350px;
  background-color: $background-dark;
  color: white;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
