.kaufman__triangle {
  background-image: url("./images/kaufman/__triangle/kaufman-triangle.svg");
  background-size: contain;
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}
