@import url('../vendor/normalize.css');
@import url('../blocks/page/page.scss');

@import url('../blocks/rotation/rotation.scss');

@import url('../blocks/header/header.scss');
@import url('../blocks/header/__title/header__title.scss');
@import url('../blocks/header/__subtitle/header__subtitle.scss');
@import url('../blocks/header/__link/header__link.scss');
@import url('../blocks/header/__main-illustration/header__main-illustration.scss');
@import url('../blocks/header/__square-pic/header__square-pic.scss');

@import url('../blocks/logo/logo.scss');
@import url('../blocks/logo/_place/logo_place_header.scss');
@import url('../blocks/logo/_place/logo_place_footer.scss');

@import url('../blocks/description/description.scss');

@import url('../blocks/two-columns/two-columns.scss');
@import url('../blocks/two-columns/__brief/two-columns__brief.scss');
@import url('../blocks/two-columns/__main-text/two-columns__main-text.scss');
@import url('../blocks/two-columns/__paragraph/two-columns__paragraph.scss');
@import url('../blocks/two-columns/__span-accent/two-columns__span-accent.scss');

@import url('../blocks/section-title/section-title.scss');
@import url('../blocks/section-title/_theme/section-title_theme_dark.scss');

@import url('../blocks/section-subtitle/section-subtitle.scss');
@import url('../blocks/section-subtitle/_theme/section-subtitle_theme_dark.scss');

@import url('../blocks/digits/digits.scss');

@import url('../blocks/table/table.scss');
@import url('../blocks/table/_theme/table_theme_dark.scss');
@import url('../blocks/table/__cell/table__cell.scss');
@import url('../blocks/table/__cell/_theme/table__cell_theme_dark.scss');
@import url('../blocks/table/__heading/table__heading.scss');
@import url('../blocks/table/__heading/_theme/table__heading_theme_dark.scss');
@import url('../blocks/table/__text/table__text.scss');
@import url('../blocks/table/__text/_theme/table__text_theme_dark.scss');

@import url('../blocks/techniques/techniques.scss');

@import url('../blocks/video/video.scss');
@import url('../blocks/video/__iframes/video__iframes.scss');
@import url('../blocks/video/__iframe/video__iframe.scss');

@import url('../blocks/oakley/oakley.scss');

@import url('../blocks/cards/cards.scss');
@import url('../blocks/cards/__item/cards__item.scss');
@import url('../blocks/cards/__image/cards__image.scss');
@import url('../blocks/cards/__title/cards__title.scss');
@import url('../blocks/cards/__description/cards__description.scss');

@import url('../blocks/feynman/feynman.scss');
@import url('../blocks/feynman/__title/feynman__title.scss');
@import url('../blocks/feynman/__subtitle/feynman__subtitle.scss');
@import url('../blocks/feynman/__link/feynman__link.scss');

@import url('../blocks/khan/khan.scss');
@import url('../blocks/khan/__container/khan__container.scss');
@import url('../blocks/khan/__author/khan__author.scss');
@import url('../blocks/khan/__title/khan__title.scss');
@import url('../blocks/khan/__quote/khan__quote.scss');
@import url('../blocks/khan/__quote-author/__quote-author.scss');
@import url('../blocks/khan/__quote-author-subline/khan__quote-author-subline.scss');
@import url('../blocks/khan/__book-container/khan__book-container.scss');
@import url('../blocks/khan/__book-pic/khan__book-pic.scss');
@import url('../blocks/khan/__buy-link/khan__buy-link.scss');

@import url('../blocks/kaufman/kaufman.scss');
@import url('../blocks/kaufman/__triangle/kaufman__triangle.scss');

@import url('../blocks/resources/resources.scss');
@import url('../blocks/resources/__logo-zone/resources__logo-zone.scss');
@import url('../blocks/resources/__logo/resources__logo.scss');

@import url('../blocks/footer/footer.scss');
@import url('../blocks/footer/__columns/footer__columns.scss');
@import url('../blocks/footer/__column/footer__column.scss');
@import url('../blocks/footer/__column/_content/footer__column_content_copyright.scss');
@import url('../blocks/footer/__column/_content/footer__column_content_info.scss');
@import url('../blocks/footer/__column/_content/footer__column_content_social.scss');
@import url('../blocks/footer/__author/footer__author.scss');
@import url('../blocks/footer/__column-heading/footer__column-heading.scss');
@import url('../blocks/footer/__column-links/footer__column-links.scss');
@import url('../blocks/footer/__column-link/footer__column-link.scss');
@import url('../blocks/footer/__social-icon/footer__social-icon.scss');
