@import "./vendor/normalize.css";
@import "./vendor/fonts/fonts.css";
@import "./sass/base/colors";
@import "./sass/blocks/page/page";

@import "./sass/blocks/rotation/rotation";

@import "./sass/blocks/header/header";
@import "./sass/blocks/header/__title/header__title";
@import "./sass/blocks/header/__subtitle/header__subtitle";
@import "./sass/blocks/header/__link/header__link";
@import "./sass/blocks/header/__main-illustration/header__main-illustration";
@import "./sass/blocks/header/__square-pic/header__square-pic";

@import "./sass/blocks/logo/logo";
@import "./sass/blocks/logo/_place/logo_place_header";
@import "./sass/blocks/logo/_place/logo_place_footer";

@import "./sass/blocks/description/description";

@import "./sass/blocks/two-columns/two-columns";
@import "./sass/blocks/two-columns/__brief/two-columns__brief";
@import "./sass/blocks/two-columns/__main-text/two-columns__main-text";
@import "./sass/blocks/two-columns/__paragraph/two-columns__paragraph";
@import "./sass/blocks/two-columns/__span-accent/two-columns__span-accent";

@import "./sass/blocks/section-title/section-title";
@import "./sass/blocks/section-title/_theme/section-title_theme_dark";

@import "./sass/blocks/section-subtitle/section-subtitle";
@import "./sass/blocks/section-subtitle/_theme/section-subtitle_theme_dark";

@import "./sass/blocks/digits/digits";

@import "./sass/blocks/table/table";
@import "./sass/blocks/table/_theme/table_theme_dark";
@import "./sass/blocks/table/__cell/table__cell";
@import "./sass/blocks/table/__cell/_theme/table__cell_theme_dark";
@import "./sass/blocks/table/__heading/table__heading";
@import "./sass/blocks/table/__heading/_theme/table__heading_theme_dark";
@import "./sass/blocks/table/__text/table__text";
@import "./sass/blocks/table/__text/_theme/table__text_theme_dark";

@import "./sass/blocks/techniques/techniques";

@import "./sass/blocks/video/video";
@import "./sass/blocks/video/__iframes/video__iframes";
@import "./sass/blocks/video/__iframe/video__iframe";

@import "./sass/blocks/oakley/oakley";

@import "./sass/blocks/cards/cards";
@import "./sass/blocks/cards/__item/cards__item";
@import "./sass/blocks/cards/__image/cards__image";
@import "./sass/blocks/cards/__title/cards__title";
@import "./sass/blocks/cards/__description/cards__description";

@import "./sass/blocks/feynman/feynman";
@import "./sass/blocks/feynman/__title/feynman__title";
@import "./sass/blocks/feynman/__subtitle/feynman__subtitle";
@import "./sass/blocks/feynman/__link/feynman__link";

@import "./sass/blocks/khan/khan";
@import "./sass/blocks/khan/__container/khan__container";
@import "./sass/blocks/khan/__author/khan__author";
@import "./sass/blocks/khan/__title/khan__title";
@import "./sass/blocks/khan/__quote/khan__quote";
@import "./sass/blocks/khan/__quote-author/__quote-author";
@import "./sass/blocks/khan/__quote-author-subline/khan__quote-author-subline";
@import "./sass/blocks/khan/__book-container/khan__book-container";
@import "./sass/blocks/khan/__book-pic/khan__book-pic";
@import "./sass/blocks/khan/__buy-link/khan__buy-link";

@import "./sass/blocks/kaufman/kaufman";
@import "./sass/blocks/kaufman/__triangle/kaufman__triangle";

@import "./sass/blocks/resources/resources";
@import "./sass/blocks/resources/__logo-zone/resources__logo-zone";
@import "./sass/blocks/resources/__logo/resources__logo";

@import "./sass/blocks/footer/footer";
@import "./sass/blocks/footer/__columns/footer__columns";
@import "./sass/blocks/footer/__column/footer__column";
@import "./sass/blocks/footer/__column/_content/footer__column_content_copyright";
@import "./sass/blocks/footer/__column/_content/footer__column_content_info";
@import "./sass/blocks/footer/__column/_content/footer__column_content_social";
@import "./sass/blocks/footer/__author/footer__author";
@import "./sass/blocks/footer/__column-heading/footer__column-heading";
@import "./sass/blocks/footer/__column-links/footer__column-links";
@import "./sass/blocks/footer/__column-link/footer__column-link";
@import "./sass/blocks/footer/__social-icon/footer__social-icon";
