.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.list_style_none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__title {
  margin: 0; /* обнуление margin, унаследованного от normalize.css */
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 20;
}

.header__subtitle {
  margin: 0; /* обнуление margin, унаследованного от normalize.css */
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 10;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.header__square-pic { /* синий квадрат :) */
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__square-pic_position { /* абсолютное позиционирование квадрата */
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.logo {
  width: 183px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 10;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0; /* обнуление margin, унаследованного от normalize.css */
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0; /* обнуление margin, унаследованного от normalize.css */
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_dark_theme {
  color: white;
}

.digits {
  margin: 100px 0;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

.table_theme_dark {
  color: white;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 5;
}

.table__heading {
  margin: 0; /* обнуление margin, унаследованного от normalize.css */
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  margin:0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  color: white;
}

.feynman {
  height: 790px;
  padding-top: 100px;
  position: relative;
  background: left bottom / 867px 637px url(../images/feynman.png) #f2f2f2 no-repeat;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 70px auto 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
  margin: 0 auto;
  padding: 90px 0;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.footer__columns {
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column_content_social {
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
