.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.header__title {
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: absolute;
  left: 64px;
  z-index: 20;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 10;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  width: 182;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits {
  margin: 100px 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 100px auto;
  padding-top: 60px;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin:0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-top: 20px;
}

.feynman {
  height: 790px;
  padding-top: 100px;
  position: relative;
  background: left bottom / 867px 637px url(/images/feynman.png) #f2f2f2 no-repeat  ;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 70px auto 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}
