.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: $blue;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

.feynman__link:hover {
  text-decoration: underline;
  opacity: .5;
}
