.khan__buy-link {
  padding-left: 48px;
  line-height: 42px;
	font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  align-self: start;
}

.khan__buy-link:hover {
  text-decoration: underline;
}
